streamlit==1.45.1
torch==2.7.0
torchvision==0.22.0
ultralytics==8.3.145
opencv-python-headless==4.11.0.86
pandas==2.2.3
numpy==2.2.6
Pillow==11.2.1
scikit-learn==1.6.1
requests==2.32.3
matplotlib==3.10.3
joblib==1.5.1
xlsxwriter==3.2.3
